streamlit
Pillow
langchain
faiss-gpu
pdfplumber
sympy
python-dotenv
google-generativeai
pipdeptree
firebase-admin
python-dotenv
PyPDF2
langchain
langchain_google_genai
faiss-cpu
fpdf
beautifulsoup4
requests
streamlit
PyPDF2
langchain
langchain_google_genai
streamlit
PyPDF2
langchain
langchain_google_genai
faiss-cpu
python-dotenv
google-generativeai
beautifulsoup4
requests
streamlit
google-generativeai
matplotlib
networkx
streamlit
streamlit-drawable-canvas
numpy

